<template>
  <div class="calc">
    <h1>{{ head }}</h1>
    <h2>калькулятор</h2>
    <div class="calculator">
      <div class="top">
        <pre class="history">{{ history }}</pre>
        <input v-model="stdin" type="text"></div>
      <div class="bottom">
        <div class="button" v-on:click.stop="cl('7')">7</div>
        <div class="button" v-on:click.stop="cl('8')">8</div>
        <div class="button" v-on:click.stop="cl('9')">9</div>
        <div class="button" v-on:click.stop="cl('+')">+</div>
        <div class="button" v-on:click.stop="cl('4')">4</div>
        <div class="button" v-on:click.stop="cl('5')">5</div>
        <div class="button" v-on:click.stop="cl('6')">6</div>
        <div class="button" v-on:click.stop="cl('-')">-</div>
        <div class="button" v-on:click.stop="cl('1')">1</div>

        <div class="button" v-on:click.stop="cl('2')">2</div>
        <div class="button" v-on:click.stop="cl('3')">3</div>
        <div class="button" v-on:click.stop="cl('/')">&divide;</div>

        <div class="button" v-on:click.stop="cl('0')">0</div>
        <div class="button" v-on:click.stop="cl('.')">.</div>
        <div class="button" @click="eq">=</div>
        <div class="button" v-on:click.stop="cl('*')">&times;</div>

      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import 'vuejs-noty/dist/vuejs-noty.css'

export default {
  name: 'Calc',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      head: 'калькулятор',
      stdin: '',
      result: '',
      history: '',
      info: {}
    }
  },
  methods: {
    cl: function (el) {
      this.stdin += el
    },
    eq: function () {
      // eslint-disable-next-line no-eval
      // this.stdin = eval(this.stdin)
      this.send()
    },
    refrash: function () {
      let that = this
      axios
        .get('/worker.php?action=refresh')
        .then(response => {
          this.history = response.data.result
          //  ждем  пока  дорендрится
          setTimeout(function () {
            that.scrol('.calculator .history')
          }, 0)
        }).catch(function (error) {
        // handle error
          console.log(error)
          that.$noty.error(error.toString())
        })
    },
    scrol: function (el) {
      let div = document.querySelector(el)
      div.scrollTo({
        top: div.scrollHeight,
        left: div.scrollWidth,
        behavior: 'smooth'
      })
    },
    send: function () {
      let that = this
      axios
        .post('/worker.php?action=run', {'str': this.stdin})
        .then(response => {
          this.info = response.data
          if (this.info.error.length) {
            that.$noty.error(this.info.error)
            this.stdin = ''
          } else {
            this.stdin = this.info.result
            this.refrash()
          }
        })
        .catch(function (error) {
          // handle error
          console.log(error)
          that.$noty.error(error.toString())
        })
    }
  }

}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.calculator {
  background: #8f8f8f;
  width: 310px;
  height: 475px;
  margin: 20px;
  border-radius: 10px
}

.calculator .top {
  height: 136px;
  position: relative;
}

.calculator .history {
  top: 0;
  overflow: hidden;
  background-color: transparent;
  height: 85px;
  font-size: 15px;
}

.calculator .bottom {
  height: 312px;
  background-color: #b2b2b2;
}

.calculator .button {
  float: left;
  width: 61px;
  height: 61px;
  /* border: 1px solid black; */
  text-align: center;
  line-height: 61px;
  font-size: 22px;
  box-shadow: 1px 1px 3px #8f8f8f;
  color: #cccccc;
  margin: auto;
  margin: 8px;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #2c3e50;
  cursor: pointer;

}

.calculator .button {
  background-color: #585858;
}

.calculator .button:hover {
  font-weight: bolder;
}

.calculator .button:nth-child(4n) {
  background-color: #c89a7c;
}

.calculator div.top > input[type=text] {
  font-size: 35px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  width: 100%;

}

.calculator div.top > input[type=text], .calculator div.top > input[type=text]:focus, .calculator div.top > input[type=text]:hover {
  border: none !important;
  outline: none;
  text-align: right;
}

</style>
