.calculator {
  background: #8f8f8f;
  width: 310px;
  height: 475px;
  margin: 20px;
  border-radius: 10px
}


.calculator .top {
  height: 136px;
  position: relative;
}

.calculator .bottom {
  height: 312px;
  background-color: #b2b2b2;
}


.calculator .button {
  float: left;
  width: 61px;
  height: 61px;
  /* border: 1px solid black; */
  text-align: center;
  line-height: 61px;
  font-size: 22px;
  box-shadow: 1px 1px 3px #8f8f8f;
  color: #cccccc;
  margin: auto;
  margin: 8px;
  border-radius: 5px;
  text-shadow: 1px 1px 3px #2c3e50;
  cursor: pointer;

}

.calculator .button {
  background-color: #585858;
}

.calculator .button:hover {
  font-weight: bolder;
}

.calculator .button:nth-child(4n) {
  background-color: #c89a7c;
}

.calculator div.top > input[type=text] {
  font-size: 35px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  width: 100%;


}

.calculator div.top > input[type=text], .calculator div.top > input[type=text]:focus, .calculator div.top > input[type=text]:hover {
  border: none !important;
  outline: none;
}
